ion-tabs {
  &.url-home-tournaments-main-play,
  &.url-home-tournaments-main-play-score {
      ion-tab-bar {
          display: none;
      }
  }
}

ion-toolbar {
  --background: #f5f5f3
  ion-button {
    text-transform: initial;
  }
}

ion-content.background{
  // --ion-background-color:#AF5921
  --background: url('../../assets/img/bg.jpg') 0 0/100% 100% no-repeat !important;
  background-color: #fff;

}

