<ion-header color="primary">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>

    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>FAQs</ion-title>

  <ion-buttons slot="end">
    <ion-icon name="notifications" size="large"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ng-click="showOrDont($index)" *ngFor="let item of faqArr">
      {{ item.question }}
      <p ng-show="show == $index" class="item-icon-accordian inset">A: {{item.answer}}</p>
    </ion-item>
  </ion-list>
</ion-content>
