ion-col {
    padding: 1.5ch;

  }


  ion-item{
    --background: rgba(0,94,120,1);
    line-height: 7ch;
    color: white;
    font-size:3ch;
  }

  .img1{
    border-radius: 20%;
    height:150px;
    width: 100%;
  }
