
<ion-content>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;"  src="../../assets/img/logo.webp" >
   </div>
   <h2 class="ion-text-center">Welcome To ShreddersBay</h2>

  <div class="ion-padding" *ngIf="isLoggedIn === false">
    <ion-button expand="block" shape="round" class="fb" (click)="fbLogin()">
      <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
      Continue with Facebook
    </ion-button>
  </div>
  <div class="ion-padding">
      <ion-button expand="block" shape="round" class="google" (click)="glogin()">
      <ion-icon name="logo-google" color="danger" ></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Continue with Google
    </ion-button>
  </div>
  <div class="ion-padding">
  <ion-button expand="block" class="logins" (click) ="login(role)">Login</ion-button>
</div>



  <div class="ion-padding" *ngIf="isLoggedIn === true">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Hi, {{users.name}}</ion-card-subtitle>
        <ion-card-title>{{users.email}}</ion-card-title>
      </ion-card-header>
      <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}" />
      <ion-card-content>
        <p>
          <ion-button expand="full" color="secondary" (click)="logout()">
            Logout
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
<div class="ion-text-center" style="background-color: black;color:white;">
  Don't have an account?<br/>
  <ion-button (click) ="signup(role)">Sing Up</ion-button>
</div>
</ion-footer>
